@charset "UTF-8";
:root {
    --cor1: #443101;
    --cor2: #0a1409;
    --cor3: #54ca5a;
}

body {
    background-color: var(--cor2);
    color: black;   
    margin: 0px;
}
header {
    background-image: linear-gradient(to top, white, var(--cor2));
    padding: 5em;
    padding-top: 2em;
    padding-bottom: 2em; 
}
header > div {
    background-color: white;
    border: 0.1em, solid, black;
    border-radius: 2em;
    text-align: center;
}
nav {
    background-color: var(--cor3);
    padding: 0.5em;
    border: 0.1em, solid, black;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
article {
    background-color: white;
    margin: 2em;
    margin-top: 0em;
    border: 0.1em, solid, black;
}
article > div {
    margin: 1em;
}
footer {
    background-color: var(--cor3);
    border: 0.1em, solid, black;
    border-radius: 0.5em;
    text-align: center;
}